body {
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

/* navbar styles */
header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #dea5a4;
    width:100vw;
}
li {
    color: #edf0f1;
    text-decoration:none;
    align-items: center;
    font-weight: 300;
}

.nav_links {
    list-style:none;
}

.nav_links li {
    display:inline-block;
    padding:0px 80px;
    font-size:14px;
}

.nav_links li {
    transition: all 0.3s ease 0s;
}

.nav_links li:hover {
    color: gold;
    cursor: pointer;
}


.firstIcon {
    font-size:60px;
    padding-left:10px;
    padding-right:10px;
}

.fa-heart-o {
    color:#dea5a4;
}

.first-container {
    margin:0;
    position: relative;
    padding-top: 8%;
    padding-bottom:8%;
    text-align: left;
    padding-left: 10%;
    overflow: hidden;
    /* border: solid 2px blue; */
}

.separator-white{
    text-align:center;
    font-size:28px;
    padding-bottom: 1%;
    color:#dea5a4;
    transition: all 0.3s ease 0s;
}

.separator-pink{
    background-color:#efcfd4;
    text-align:center;
    font-size:28px;
    padding-bottom: 1%;
    color:#ffffffff;
    transition: all 0.3s ease 0s;
}

.separator-white:hover {
    cursor: pointer;
    color:gold;
}

.separator-pink:hover {
    cursor: pointer;
    color:gold;
}


.heading {
    font-size:45px;
}

.heading-underline-pink {
    text-decoration: underline #dea5a4;
}

.heading-underline-white {
    text-decoration: underline white;
}

.bold {
    font-weight: bold;
}

a {
    color:black;
}

.main-heading {
    font-size:60px;
}


.button-section {
    padding-right:5%;
}

.second-container {
    position: relative;
    padding-top: 4%;
    padding-bottom:4%;
    text-align: right;
    padding-right:13%;
    overflow: hidden;
    background-color:#efcfd4;  
}

.icons {
    font-size:40px;
    padding-top:0;
    color:#da9493e1;
}

.third-container {
    position: relative;
    padding-top: 4%;
    padding-bottom:8%;
    padding-right:20%;
    padding-left:20%;
    text-align: center;
    overflow: hidden;
}

.spacing {
    padding-left:20px;
    padding-right:10px;
}

.btn {
    border-radius:4px;
    background-color:#dea5a4;
    text-decoration:none;
    font-size:18px;
    padding: 5px 50px 5px 50px;
    color:black;
    cursor:pointer;
}

.btn-style {
    border-radius:4px;
    border-color: #dea5a4;
    background-color:#ffffff;
    color:black;
    text-decoration:none;
    font-size:15px;
    padding: 5px 30px 5px 30px;
    cursor:pointer;
}

.btn-style:hover {
    background-color:#dea5a4;
}

.btn-spacing {
    margin-left:2%;
}

button{
    font-family: inherit;
}

.project-photo {
    height:auto;
    width:400px;
}

.fourth-container {
    text-align:center;
    background-color:#efcfd4;  
    padding-top:1%;
    padding-bottom:1%;
}


@media screen and (min-width:769px){

    .grid-container {
        display: grid;
        grid-column-gap: 40px;
        grid-row-gap:25px;
        grid-template-columns: auto auto;
      /* padding:10px; */
    }

    
    .nav_links li {
        display:inline-block;
        padding:0px 200px;
        font-size:14px;
    }
}


@media screen and (max-width:500px){
    .first-container {
        text-align:center;
        padding:0 1%;
    }

    .second-container {
        text-align:center;
        padding:0 1%;
    }

    .project-photo {
        height:auto;
        width:200px;
    }

    .btn {
        display:block;
    }

    .nav_links li {
        display:inline-block;
        padding:0px 30px;
        font-size:14px;
    }
}

/* certificates */

img {
    position:relative;
    height:auto;
    width:450px;
    opacity: 1;
    padding:0.5%;
    padding-left:2%;
}

img:hover{
    opacity:0.8;
}

.gold {
    text-decoration:none;
    color:gold;
}

@media screen and (max-width:500px){
    img {
        height:auto;
        width:350px;
        padding-top:2%;
    }
}

@media screen and (min-width:501px) and (max-width:780px){
    img {
        padding-left:20%;
        width:400px;
    }
}